In [ ]:
#https://www.kaggle.com/datasets/parisrohan/credit-score-classification

In [12]:
import pandas as pd

df=pd.read_csv("train.csv", encoding = "utf-8")
display(df.head(10))
display(df.describe())
display(df.info())

C:\Users\User\AppData\Local\Temp\ipykernel_31768\2547354094.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("train.csv", encoding = "utf-8")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

None

In [13]:
df.select_dtypes(include=object).columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Num_of_Loan', 'Type_of_Loan',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_History_Age', 'Payment_of_Min_Amount',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [32]:
for i in list(df.select_dtypes(include=object).columns):
    print(df[[f'{i}']].value_counts())
    print("=========================")

ID
0x10002    1
0x3c98     1
0x3cba     1
0x3cb5     1
0x3cb4     1
          ..
0x1bd73    1
0x1bd72    1
0x1bd71    1
0x1bd70    1
0xfffd     1
Name: count, Length: 100000, dtype: int64
=========================
Customer_ID
CUS_0x1000     8
CUS_0x8cfe     8
CUS_0x8cbe     8
CUS_0x8cc1     8
CUS_0x8cc5     8
              ..
CUS_0x4f3b     8
CUS_0x4f3e     8
CUS_0x4f41     8
CUS_0x4f43     8
CUS_0xffd      8
Name: count, Length: 12500, dtype: int64
=========================
Month
April       12500
August      12500
February    12500
January     12500
July        12500
June        12500
March       12500
May         12500
Name: count, dtype: int64
=========================
Name
Langep                44
Stevex                44
Jessicad              39
Vaughanl              39
Deepa Seetharamanm    38
                      ..
Horowitzg              4
Alina Selyukhg         4
Ronaldf                4
Matt Scuffhamk         4
Timothyl               3
Name: count, Length: 10139, dtype: int64
=========================
Age
38      2833
28      2829
31      2806
26      2792
32      2749
        ...
3791       1
3790       1
3789       1
3779       1
995        1
Name: count, Length: 1788, dtype: int64
=========================
SSN
#F%$D@*&8      5572
588-48-6819       8
588-79-8277       8
588-86-8947       8
588-91-6598       8
               ...
838-33-4811       4
331-28-1921       4
604-62-6133       4
642-73-7670       4
286-44-9634       4
Name: count, Length: 12501, dtype: int64
=========================
Occupation
_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: count, dtype: int64
=========================
Annual_Income
20867.67         16
36585.12         16
17273.83         16
33029.66         15
95596.35         15
                 ..
5366350.0         1
53646.0_          1
17559.88_         1
17565.58_         1
10001727.0        1
Name: count, Length: 18940, dtype: int64
=========================
Num_of_Loan
3              14386
2              14250
4              14016
0              10380
1              10083
               ...
186                1
182                1
18                 1
174                1
316                1
Name: count, Length: 434, dtype: int64
=========================
Type_of_Loan
Not Specified                                                                                                        1408
Credit-Builder Loan                                                                                                  1280
Personal Loan                                                                                                        1272
Debt Consolidation Loan                                                                                              1264
Student Loan                                                                                                         1240
                                                                                                                     ...
Home Equity Loan, Debt Consolidation Loan, Credit-Builder Loan, and Home Equity Loan                                    8
Home Equity Loan, Debt Consolidation Loan, Credit-Builder Loan, and Credit-Builder Loan                                 8
Home Equity Loan, Debt Consolidation Loan, Credit-Builder Loan, and Auto Loan                                           8
Home Equity Loan, Debt Consolidation Loan, Credit-Builder Loan, Student Loan, Home Equity Loan, and Mortgage Loan       8
Mortgage Loan, Mortgage Loan, Student Loan, and Home Equity Loan                                                        8
Name: count, Length: 6260, dtype: int64
=========================
Num_of_Delayed_Payment
19                        5327
17                        5261
16                        5173
10                        5153
18                        5083
                          ...
2418                         1
2420                         1
2429                         1
2431                         1
281                          1
Name: count, Length: 749, dtype: int64
=========================
Changed_Credit_Limit
_                       2091
8.22                     133
11.5                     127
11.32                    126
7.35                     121
                        ...
-2.4800000000000004        1
-2.48                      1
30.48                      1
17.630000000000006         1
11.579999999999998         1
Name: count, Length: 4384, dtype: int64
=========================
Credit_Mix
Standard      36479
Good          24337
_             20195
Bad           18989
Name: count, dtype: int64
=========================
Outstanding_Debt
1360.45             24
1151.7              23
1109.03             23
460.46              23
55.2                16
                    ..
50.13_               1
1112.8_              1
679.2_               1
460.46_              1
1811.96_             1
Name: count, Length: 13178, dtype: int64
=========================
Credit_History_Age
15 Years and 11 Months    446
19 Years and 4 Months     445
19 Years and 5 Months     444
17 Years and 11 Months    443
19 Years and 3 Months     441
                         ...
0 Years and 3 Months       20
0 Years and 2 Months       15
33 Years and 7 Months      14
33 Years and 8 Months      12
0 Years and 1 Months        2
Name: count, Length: 404, dtype: int64
=========================
Payment_of_Min_Amount
Yes                      52326
No                       35667
NM                       12007
Name: count, dtype: int64
=========================
Amount_invested_monthly
__10000__                  4305
0.0                         169
10.011424795004293            1
476.11784682955766            1
475.2236276218627             1
                           ...
199.3865258681681             1
199.38590897327103            1
199.38360662522967            1
199.38209262355699            1
306.66199580086726            1
Name: count, Length: 91049, dtype: int64
=========================
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64
=========================
Monthly_Balance
__-333333333333333333333333333__    9
400.78505753133726                  1
401.24824629939866                  1
401.247390724804                    1
401.24139760291933                  1
                                   ..
285.1509673960475                   1
285.150701162989                    1
285.14651953327217                  1
285.1452259270754                   1
330.63711466219286                  1
Name: count, Length: 98792, dtype: int64
=========================
Credit_Score
Standard        53174
Poor            28998
Good            17828
Name: count, dtype: int64
=========================

In [18]:
import pandas as pd
# Tabular Data를 다루기 때문에 아래 라이브러리를 호출
from autogluon.tabular import TabularDataset, TabularPredictor

c:\Users\User\anaconda3\envs\flask5\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [19]:
train_df = pd.read_csv('./train.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_31768\3943414084.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv('./train.csv')

In [20]:
# autogluon 학습을 위한 데이터 형태로 변환
train = TabularDataset(train_df.drop(['ID'], axis=1))

In [21]:
#학습
predictor = TabularPredictor(label='Credit_Score', eval_metric='f1_macro',).fit(train)

No path specified. Models will be saved in: "AutogluonModels\ag-20230725_082926\"
Warning: Training may take a very long time because `time_limit` was not specified and `train_data` is large (100000 samples, 135.8 MB).
	Consider setting `time_limit` to ensure training finishes within an expected duration or experiment with a small portion of `train_data` to identify an ideal `presets` and `hyperparameters` configuration.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20230725_082926\"
AutoGluon Version:  0.8.2
Python Version:     3.8.3
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19041
Disk Space Avail:   317.11 GB / 511.99 GB (61.9%)
Train Data Rows:    100000
Train Data Columns: 26
Label Column: Credit_Score
Preprocessing data ...
AutoGluon infers your prediction problem is: 'multiclass' (because dtype of label-column == object).
	3 unique label values:  ['Good', 'Standard', 'Poor']
	If 'multiclass' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Train Data Class Count: 3
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    3251.67 MB
	Train Data (Original)  Memory Usage: 129.49 MB (4.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
		Fitting TextSpecialFeatureGenerator...
			Fitting BinnedFeatureGenerator...
			Fitting DropDuplicatesFeatureGenerator...
		Fitting TextNgramFeatureGenerator...
			Fitting CountVectorizer for text features: ['Type_of_Loan', 'Credit_History_Age']
			CountVectorizer fit with vocabulary size = 604
		Warning: Due to memory constraints, ngram feature count is being reduced. Allocate more memory to maximize model quality.
		Reducing Vectorizer vocab size from 604 to 357 to avoid OOM error
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])        :  4 | ['Monthly_Inhand_Salary', 'Num_Credit_Inquiries', 'Credit_Utilization_Ratio', 'Total_EMI_per_month']
		('int', [])          :  4 | ['Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Delay_from_due_date']
		('object', [])       : 16 | ['Customer_ID', 'Month', 'Name', 'Age', 'SSN', ...]
		('object', ['text']) :  2 | ['Type_of_Loan', 'Credit_History_Age']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])                    :  16 | ['Customer_ID', 'Month', 'Name', 'Age', 'SSN', ...]
		('category', ['text_as_category'])  :   2 | ['Type_of_Loan', 'Credit_History_Age']
		('float', [])                       :   4 | ['Monthly_Inhand_Salary', 'Num_Credit_Inquiries', 'Credit_Utilization_Ratio', 'Total_EMI_per_month']
		('int', [])                         :   4 | ['Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Delay_from_due_date']
		('int', ['binned', 'text_special']) :  11 | ['Type_of_Loan.char_count', 'Type_of_Loan.word_count', 'Type_of_Loan.capital_ratio', 'Type_of_Loan.lower_ratio', 'Type_of_Loan.special_ratio', ...]
		('int', ['text_ngram'])             : 216 | ['__nlp__.10', '__nlp__.10 months', '__nlp__.10 years', '__nlp__.11', '__nlp__.11 months', ...]
	27.6s = Fit runtime
	26 features in original data used to generate 253 features in processed data.
	Train Data (Processed) Memory Usage: 53.41 MB (1.6% of available memory)
Data preprocessing and feature engineering runtime = 28.18s ...
AutoGluon will gauge predictive performance using evaluation metric: 'f1_macro'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.025, Train Rows: 97500, Val Rows: 2500
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	Warning: Not enough memory to safely train model. Estimated to require 0.355 GB out of 3.328 GB available memory (53.367%)... (20.000% of avail memory is the max safe size)
	To force training the model, specify the model hyperparameter "ag.max_memory_usage_ratio" to a larger value (currently 1.0, set to >=0.58 to avoid the error)
		To set the same value for all models, do the following when calling predictor.fit: `predictor.fit(..., ag_args_fit={"ag.max_memory_usage_ratio": VALUE})`
	Not enough memory to train KNeighborsUnif... Skipping this model.
Fitting model: KNeighborsDist ...
	Warning: Not enough memory to safely train model. Estimated to require 0.355 GB out of 3.343 GB available memory (53.128%)... (20.000% of avail memory is the max safe size)
	To force training the model, specify the model hyperparameter "ag.max_memory_usage_ratio" to a larger value (currently 1.0, set to >=0.58 to avoid the error)
		To set the same value for all models, do the following when calling predictor.fit: `predictor.fit(..., ag_args_fit={"ag.max_memory_usage_ratio": VALUE})`
	Not enough memory to train KNeighborsDist... Skipping this model.
Fitting model: NeuralNetFastAI ...
	0.761	 = Validation score   (f1_macro)
	217.35s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: LightGBMXT ...

[1000]	valid_set's multi_logloss: 0.492675	valid_set's f1_macro: 0.794787

	0.8065	 = Validation score   (f1_macro)
	78.64s	 = Training   runtime
	0.8s	 = Validation runtime
Fitting model: LightGBM ...
	0.8189	 = Validation score   (f1_macro)
	105.55s	 = Training   runtime
	0.58s	 = Validation runtime
Fitting model: RandomForestGini ...
	Warning: Reducing model 'n_estimators' from 300 -> 205 due to low memory. Expected memory usage reduced from 21.85% -> 15.0% of available memory...
	0.8003	 = Validation score   (f1_macro)
	27.43s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: RandomForestEntr ...
	Warning: Reducing model 'n_estimators' from 300 -> 206 due to low memory. Expected memory usage reduced from 21.75% -> 15.0% of available memory...
	0.7994	 = Validation score   (f1_macro)
	26.16s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: CatBoost ...
	0.8518	 = Validation score   (f1_macro)
	4627.12s	 = Training   runtime
	0.29s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.7803	 = Validation score   (f1_macro)
	34.77s	 = Training   runtime
	0.15s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.7754	 = Validation score   (f1_macro)
	35.38s	 = Training   runtime
	0.12s	 = Validation runtime
Fitting model: XGBoost ...
	0.8064	 = Validation score   (f1_macro)
	351.71s	 = Training   runtime
	1.71s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.689	 = Validation score   (f1_macro)
	330.18s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.8131	 = Validation score   (f1_macro)
	93.89s	 = Training   runtime
	0.38s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	0.8561	 = Validation score   (f1_macro)
	1.98s	 = Training   runtime
	0.01s	 = Validation runtime
AutoGluon training complete, total runtime = 5972.8s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20230725_082926\")

In [22]:
# 각각의 모델의 훈련 성능을 평가할 수 있음
ld_board = predictor.leaderboard(train, silent=True)

ld_board

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,RandomForestEntr,0.979189,0.799425,2.512755,0.088255,26.160764,2.512755,0.088255,26.160764,1,True,5
1,RandomForestGini,0.972994,0.800296,2.409105,0.106490,27.426346,2.409105,0.106490,27.426346,1,True,4
2,XGBoost,0.966432,0.806441,85.671544,1.705585,351.713702,85.671544,1.705585,351.713702,1,True,9
3,LightGBM,0.942843,0.818931,19.579676,0.581056,105.548257,19.579676,0.581056,105.548257,1,True,3
4,ExtraTreesEntr,0.941861,0.775449,3.768200,0.120304,35.379737,3.768200,0.120304,35.379737,1,True,8
5,LightGBMLarge,0.941673,0.813113,15.522622,0.377814,93.887314,15.522622,0.377814,93.887314,1,True,11
6,ExtraTreesGini,0.938941,0.780343,3.731702,0.152492,34.767537,3.731702,0.152492,34.767537,1,True,7
7,LightGBMXT,0.930879,0.806520,33.363398,0.801883,78.636071,33.363398,0.801883,78.636071,1,True,2
8,NeuralNetFastAI,0.912351,0.760962,2.138391,0.070763,217.348148,2.138391,0.070763,217.348148,1,True,1
9,WeightedEnsemble_L2,0.910570,0.856120,68.015292,2.052873,5421.749127,0.072542,0.012542,1.982090,2,True,12
10,CatBoost,0.884301,0.851811,5.070781,0.290070,4627.123527,5.070781,0.290070,4627.123527,1,True,6
11,NeuralNetTorch,0.804983,0.689022,1.546047,0.055812,330.182735,1.546047,0.055812,330.182735,1,True,10